

.create-input{
    width:  300px;
    padding:10px;
    border-bottom: 2px solid;
    outline: none;

}

.create-button{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    
}